@charset "UTF-8";
/*
Theme Name: Clarcked TwentyOne
Theme URI: https://clarcked.com
Author: clarcked@outlook.com.ar
Author URI: https://clarcked.com
Description: Theme for the clarcked.com blog 
Requires at least: 5.6
Tested up to: 8.0.8
Requires PHP: 7.3 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: clarcked.com
Tags: custom-logo,featured-images, translation-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Serif+JP:wght@200;300;400;500;700&666666666display=swap");
@font-face {
  font-family: "clarcked";
  src: url("fonts/clarcked.eot?g7sk4u");
  src: url("fonts/clarcked.eot?g7sk4u#iefix") format("embedded-opentype"), url("fonts/clarcked.ttf?g7sk4u") format("truetype"), url("fonts/clarcked.woff?g7sk4u") format("woff"), url("fonts/clarcked.svg?g7sk4u#clarcked") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "clarcked" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-more-horizontal:before {
  content: "";
}

.ico-search:before {
  content: "";
}

.ico-shopping-cart:before {
  content: "";
}

.ico-dots-three-horizontal:before {
  content: "";
}

.ico-layers:before {
  content: "";
}

.ico-archive:before {
  content: "";
}

.ico-circle:before {
  content: "";
}

.ico-circular-graph:before {
  content: "";
}

.ico-language:before {
  content: "";
}

.ico-light-bulb:before {
  content: "";
}

.ico-magnifying-glass:before {
  content: "";
}

.ico-switch:before {
  content: "";
}

.ico-facebook:before {
  content: "";
}

.ico-github-with-circle:before {
  content: "";
}

.ico-instagram-with-circle:before {
  content: "";
}

.ico-linkedin-with-circle:before {
  content: "";
}

.ico-twitter-with-circle:before {
  content: "";
}

.ico-home2:before {
  content: "";
}

.ico-pencil:before {
  content: "";
}

.ico-lifebuoy:before {
  content: "";
}

.ico-phone:before {
  content: "";
}

.ico-terminal:before {
  content: "";
}

.ico-amazon:before {
  content: "";
}

.ico-google3:before {
  content: "";
}

.ico-google-drive:before {
  content: "";
}

.ico-facebook2:before {
  content: "";
}

.ico-whatsapp:before {
  content: "";
}

.ico-telegram:before {
  content: "";
}

.ico-twitter:before {
  content: "";
}

.ico-youtube2:before {
  content: "";
}

.ico-github:before {
  content: "";
}

.ico-finder:before {
  content: "";
}

.ico-android:before {
  content: "";
}

.ico-windows:before {
  content: "";
}

.ico-windows8:before {
  content: "";
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
* ::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.5);
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
html, html ul, html li, html p, html article, html h1, html h2, html h3, html h4, body, body ul, body li, body p, body article, body h1, body h2, body h3, body h4 {
  margin: 0;
  padding: 0;
}

.site {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

a, ul, li, button, article, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  list-style: none;
  color: inherit;
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #e6e6e6;
}

a,
ul,
li,
button,
article,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-decoration: none;
  outline: none;
}

.site {
  font-family: "Noto Serif JP", sans-serif;
  text-align-last: left;
  font-size: 14px;
}

.post .more-link {
  display: none;
}
.post .more-link span {
  font-weight: bold;
  font-size: 0.7rem;
}
.post header {
  font-size: 0.7rem;
}
.post header .author-name {
  font-size: 0.7rem;
  font-weight: bold;
}
.post footer ul li > * {
  font-size: 0.8rem;
  color: #2f2f2f;
}
.post h1 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #222;
}
.post h1:hover {
  color: #555555;
}
.post-categories a {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: bold;
}
.post-recommended .h1 {
  font-size: 0.9rem;
  font-weight: bold;
}
.post-recommended .post-content * {
  font-size: 0.7rem;
  word-spacing: 1px;
  font-size-adjust: 0.5;
  text-align: justify;
  text-justify: inter-word;
}
.post-excerpt .post-content {
  font-size-adjust: 0.5;
  text-align: justify;
  text-justify: inter-word;
}
.post-recommended .post-content * {
  font-size: 11px;
  text-align: justify;
  text-justify: inter-word;
  font-size-adjust: 0.8;
}
.post-single header h1 {
  font-size: 2rem;
  font-weight: 300;
}
.post-single h2 {
  font-size: 1.5rem;
  font-weight: 300;
}
.post-single .post-content {
  font-size-adjust: 0.5;
  text-align: justify;
  text-justify: inter-word;
}

#header #brand .site-name {
  font-weight: bold;
  font-family: "Comfortaa", cursive;
}
#header #brand .site-desc {
  font-size: 0.8rem;
  font-family: "Comfortaa", cursive;
}

.widget-title {
  font-size: 0.9rem;
}

.form input, .form textarea {
  font-family: inherit;
  font-size: 1rem;
}
.form .field .icon {
  color: #3c3c3c;
  font-size: 20px;
}

code {
  padding: 10px;
  background-color: #222;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
}

.form input, .form textarea {
  border: none;
  outline: none;
  flex: 1;
  background: none;
  padding: 0 10px;
  width: 100%;
}
.form .field {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 100%;
}
.form .field .icon {
  width: 40px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #3c3c3c;
  font-size: 20px;
}
.form .field .icon i::before {
  position: relative;
  top: -1px;
}

.widget-title {
  font-size: 0.9rem;
  margin-bottom: 5px;
  padding: 5px 0;
  border-bottom: 1px solid #e6e6e6;
}
.widget-posts-recommended {
  margin-top: 10px;
}
.widget-posts-recommended .widget-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}
.widget-posts-recommended .widget-content .post {
  width: calc(50% - 6px);
}

#header {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px calc((100vw / 6) - 20px);
}
#header #brand {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header #brand img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
}
#header #brand .brand-desc {
  padding: 0 10px;
}

#content {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  padding: 0 calc(100vw / 7);
  overflow: hidden;
  overflow-y: auto;
  background-color: #fafafa;
}
#content #main {
  flex: 1;
  overflow: auto;
  padding: 20px;
}
#content #side-left {
  width: 25vw;
  padding: 20px;
  overflow: auto;
}

.post {
  margin: 0 0 20px 0;
}
.post:last-of-type {
  margin-bottom: 0;
}
.post .more-link {
  margin: 0 5px;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
}
.post .more-link .icon {
  position: relative;
  top: 5px;
}
.post header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post header:hover {
  color: #222222;
}
.post header .author-name {
  margin: 0 5px;
}
.post footer {
  padding: 10px 0;
}
.post footer, .post footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post footer ul li:after {
  display: inline-block;
  content: ".";
  padding: 0 5px;
  position: relative;
  top: -2px;
}
.post footer ul li:last-of-type:after {
  content: "";
}
.post-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.post-categories a:first-of-type {
  padding-left: 5px;
}
.post-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.post .thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.post .thumbnail img {
  max-width: 100%;
  width: 100%;
  height: auto !important;
}
.post-excerpt .thumbnail img {
  max-width: 90%;
  width: 90%;
  height: auto !important;
}
.post-recommended .post-content {
  flex-direction: column-reverse;
  align-items: stretch;
}
.post-recommended .thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.post-recommended .thumbnail img {
  max-width: 100%;
  width: 100%;
  height: auto !important;
}
.post-single {
  padding: 10px;
}
.post-single header {
  flex-direction: column;
  align-items: stretch;
}
.post-single h2 {
  margin-bottom: 10px;
}
.post-single p {
  padding: 2px;
  margin-bottom: 2px;
}
.post-single .post-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media only screen and (max-width: 600px) {
  #content {
    display: block;
    padding: 0 20px;
  }
  #content #main {
    width: calc(100% - 40px);
    overflow: auto;
    padding: 20px;
  }
  #content #side-left {
    width: calc(100% - 40px);
    padding: 20px;
    overflow: auto;
  }

  .post-content {
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .post .thumbnail img {
    border-radius: 5px;
    aspect-ratio: 1/1;
  }
}
