.form{ 
	input,textarea{
		border: none;
		outline: none; 
		flex: 1;
		background: none;
		padding: 0 10px;
		width: 100%;
	}
	.field{ 
		display: flex;
		flex-direction: row;
		align-items: center;
		border: 1px solid darken(#fff, 20);
		border-radius: 3px;
		width: 100%;
		.icon{
			width: 40px;
			height: 35px;
			display: flex;
			flex-direction: row;
			align-items:center;
			justify-content: center;
			color: lighten(#222, 10);
			font-size: 20px;
			i::before{
				position: relative;
				top: -1px;
			}
		}
	}
}