#header{
	border-bottom: 1px solid darken(#fff, 10); 
	padding: 15px calc((100vw / 6) - 20px);

	#brand{
		height: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		img {
			width: 30px;
			height: 30px;
			aspect-ratio: 1 / 1;
		}
		.brand-desc{
			padding: 0 10px;
		}
		
	}
}