@font-face {
  font-family: 'clarcked';
  src:  url('fonts/clarcked.eot?g7sk4u');
  src:  url('fonts/clarcked.eot?g7sk4u#iefix') format('embedded-opentype'),
  url('fonts/clarcked.ttf?g7sk4u') format('truetype'),
  url('fonts/clarcked.woff?g7sk4u') format('woff'),
  url('fonts/clarcked.svg?g7sk4u#clarcked') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'clarcked' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-more-horizontal:before {
  content: "\e911";
}
.ico-search:before {
  content: "\e900";
}
.ico-shopping-cart:before {
  content: "\e901";
}
.ico-dots-three-horizontal:before {
  content: "\e912";
}
.ico-layers:before {
  content: "\e902";
}
.ico-archive:before {
  content: "\e903";
}
.ico-circle:before {
  content: "\e904";
}
.ico-circular-graph:before {
  content: "\e905";
}
.ico-language:before {
  content: "\e906";
}
.ico-light-bulb:before {
  content: "\e907";
}
.ico-magnifying-glass:before {
  content: "\e908";
}
.ico-switch:before {
  content: "\e909";
}
.ico-facebook:before {
  content: "\e90a";
}
.ico-github-with-circle:before {
  content: "\e90b";
}
.ico-instagram-with-circle:before {
  content: "\e90c";
}
.ico-linkedin-with-circle:before {
  content: "\e90d";
}
.ico-twitter-with-circle:before {
  content: "\e90e";
}
.ico-home2:before {
  content: "\e90f";
}
.ico-pencil:before {
  content: "\e910";
}
.ico-lifebuoy:before {
  content: "\e941";
}
.ico-phone:before {
  content: "\e942";
}
.ico-terminal:before {
  content: "\ea81";
}
.ico-amazon:before {
  content: "\ea87";
}
.ico-google3:before {
  content: "\ea8a";
}
.ico-google-drive:before {
  content: "\ea8f";
}
.ico-facebook2:before {
  content: "\ea91";
}
.ico-whatsapp:before {
  content: "\ea93";
}
.ico-telegram:before {
  content: "\ea95";
}
.ico-twitter:before {
  content: "\ea96";
}
.ico-youtube2:before {
  content: "\ea9e";
}
.ico-github:before {
  content: "\eab0";
}
.ico-finder:before {
  content: "\eabf";
}
.ico-android:before {
  content: "\eac0";
}
.ico-windows:before {
  content: "\eac1";
}
.ico-windows8:before {
  content: "\eac2";
}