#content{
	display: flex;
	flex-direction: row;
	flex: 1;
	align-items:stretch;
	padding: 0  calc(100vw / 7);
	overflow: hidden; 
	overflow-y: auto; 
	background-color: darken(#fff,2);
 
	#main{
		flex:1;
		overflow: auto;
		padding: 20px;
	}

	#side-left{
		width: 25vw;
		padding: 20px;
		overflow: auto;
	}
}