@media only screen and (max-width: 600px) {
    #content {
        display: block;
        padding: 0 20px;

        #main {
            width: calc(100% - 40px);
            overflow: auto;
            padding: 20px;
        }

        #side-left {
            width: calc(100% - 40px);
            padding: 20px;
            overflow: auto;
        }
    }

    .post {
        &-content {
            flex-wrap: wrap;
            flex-direction: row-reverse;
        }

        .thumbnail {
            img { 
                border-radius: 5px;
                aspect-ratio: 1 / 1; 
            }
        }
    }
}