.post {
    margin: 0 0 20px 0;

    &:last-of-type {
        margin-bottom: 0;
    }
    .more-link {
        margin: 0 5px;
        display: inline-flex;
        flex-direction: row;
        align-items: baseline;
        position: relative;

        .icon {
            position: relative;
            top: 5px;
        }
    }


    header {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover {
            color: lighten(#222, 0);
        }

        .author {
            &-name {
                margin: 0 5px;
            }
        }
    }

    footer {
        padding: 10px 0;

        &,
        & ul {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        ul li {
            &:after {
                display: inline-block;
                content: ".";
                padding: 0 5px;
                position: relative;
                top: -2px;
            }

            &:last-of-type {
                &:after {
                    content: "";
                }
            }
        }
    }

    &-categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        a {
            &:first-of-type {
                padding-left: 5px;
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .thumbnail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        img {
            max-width: 100%;
            width: 100%;
            height: auto !important;
        }
    }

    &-excerpt{
        .thumbnail {
            img {
                max-width: 90%;
                width: 90%;
                height: auto !important;
            }
        }
    }

    &-recommended {
        .post {
            &-content {
                flex-direction: column-reverse;
                align-items: stretch;
            }
        }

        .thumbnail {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            img {
                max-width: 100%;
                width: 100%;
                height: auto !important;
            }
        }
    }

    & {
        &-single {
            padding: 10px;

            header {
                flex-direction: column;
                align-items: stretch;

            }

            h2 {
                margin-bottom: 10px;
            }

            p {
                padding: 2px;
                margin-bottom: 2px;
            }

            .post-content {
                display: flex;
                flex-direction: column;
                align-items: stretch;
            }
        }
    }
}