* {

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    & ::-webkit-scrollbar-thumb {
        background-color: rgba(darkgrey, 0.5);
    }
}


html,body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	&,ul,li,p,article, h1,h2,h3,h4{
		margin: 0;
		padding:0;
	}
}
.site{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
    box-sizing: border-box;
}
a,ul,li,button,article,p,h1,h2,h3,h4,h5,h6{
	padding: 0;
	list-style: none;
	color:inherit;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid darken(#fff, 10);
}