a,
ul,
li,
button,
article,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-decoration: none;
  outline: none;
}

.site {
  font-family: 'Noto Serif JP', sans-serif;
  text-align-last: left;
  font-size: 14px;
}

.post {
  .more-link {
    display: none;

    span {
      font-weight: bold;
      font-size: 0.7rem;
    }
  }

  header {
    font-size: 0.7rem;

    .author {
      &-name {
        font-size: 0.7rem;
        font-weight: bold;
      }
    }
  }

  footer {
    ul li {
      > * {
        font-size: 0.8rem;
        color: lighten(#222, 5);
      }
    }
  }

  h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #222;

    &:hover {
      color: lighten(#222, 20);
    }
  }

  &-categories {
    a {
      font-size: 0.8rem;
      font-style: italic;
      font-weight: bold;
    }
  }

  &-recommended {
    .h1 {
      font-size: 0.9rem;
      font-weight: bold;
    }

    .post {
      &-content {
        * {
          font-size: 0.7rem;
          word-spacing: 1px;
          font-size-adjust: 0.5;
          text-align: justify;
          text-justify: inter-word;
        }
      }
    }
  }

  & {
    &-excerpt {
      .post-content {
        font-size-adjust: 0.5;
        text-align: justify;
        text-justify: inter-word;
      }
    }

    &-recommended {
      .post-content {
        * {
          font-size: 11px;
          text-align: justify;
          text-justify: inter-word;
          font-size-adjust: 0.8;
        }
      }
    }

    &-single {
      header {
        h1 {
          font-size: 2rem;
          font-weight: 300;
        }
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 300;
      }
      .post-content {
        font-size-adjust: 0.5;
        text-align: justify;
        text-justify: inter-word;
      }
    }
  }
}

#header {
  #brand {
    .site {
      &-name {
        font-weight: bold;
        font-family: 'Comfortaa', cursive;
      }

      &-desc {
        font-size: 0.8rem;
        font-family: 'Comfortaa', cursive;
      }
    }
  }
}

.widget {
  &-title {
    font-size: 0.9rem;
  }
}

.form {
  input, textarea {
    font-family: inherit;
    font-size: 1rem;
  }

  .field {
    .icon {
      color: lighten(#222, 10);
      font-size: 20px;
    }
  }
}