.widget {
    &-title {
        font-size: 0.9rem;
        margin-bottom: 5px;
        padding: 5px 0;
        border-bottom: 1px solid darken(#fff, 10);
    }

    &-posts {
        &-recommended {
            margin-top: 10px;

            .widget {
                &-content {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start; 
                    flex-wrap: wrap;
                    gap: 12px;

                    .post { 
                        width: calc(50% - 6px); 
                    }
                }
            }
        }
    }
}