* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
* ::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.5);
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
html, html ul, html li, html p, html article, html h1, html h2, html h3, html h4, body, body ul, body li, body p, body article, body h1, body h2, body h3, body h4 {
  margin: 0;
  padding: 0;
}

.site {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a, ul, li, button, article, p, h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  padding: 0;
  list-style: none;
  color: inherit;
}

.form input, .form textarea {
  border: none;
  outline: none;
  flex: 1;
  background: none;
  padding: 0 10px;
}
.form .field {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.form .field .icon {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #3c3c3c;
  font-size: 20px;
}

.widget-title {
  font-size: 0.9rem;
  margin-bottom: 5px;
  padding: 5px 0;
  border-bottom: 1px solid #e6e6e6;
}
.widget-posts-recommended {
  margin-top: 10px;
}
.widget-posts-recommended .widget-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.widget-posts-recommended .widget-content .post {
  margin: 0;
}

#header {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px calc(100vw / 6);
}
#header #brand {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header #brand img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
}
#header #brand .brand-desc {
  padding: 0 10px;
}
#header #brand .site-name {
  font-weight: bold;
}
#header #brand .site-desc {
  font-size: 0.8rem;
}

#content {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  padding: 0 calc(100vw / 6);
  overflow: hidden;
  overflow-y: auto;
  background-color: #fafafa;
}
#content #main {
  flex: 1;
  overflow: auto;
  padding: 50px;
}
#content #side-left {
  width: 20vw;
  padding: 20px;
}

.post {
  margin-bottom: 20px;
}
.post:last-of-type {
  margin: 0;
}
.post header {
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post header:hover {
  color: #222222;
}
.post header .author-name {
  font-size: 0.7rem;
  margin: 0 5px;
  font-weight: bold;
}
.post header .author-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #e6e6e6;
}
.post footer {
  padding: 10px 0;
}
.post footer, .post footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post footer ul li {
  font-size: 0.8rem;
  color: #2f2f2f;
}
.post footer ul li:after {
  display: inline-block;
  content: ".";
  padding: 0 15px;
  position: relative;
  top: -2px;
}
.post footer ul li:last-of-type:after {
  content: "";
}
.post h1 {
  font-size: 1rem;
  font-weight: bold;
  color: #222;
}
.post h1:hover {
  color: #555555;
}
.post-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post .thumbnail img {
  border-radius: 5px;
  width: 150px;
}
.post-recommended h1 {
  font-size: 0.8rem;
}
.post-recommended .post-content {
  flex-direction: column-reverse;
  align-items: stretch;
}
.post-recommended .post-content * {
  font-size: 0.8rem;
}
.post-recommended .thumbnail img {
  width: 100%;
  border-radius: 3px;
}

/*# sourceMappingURL=style.css.map */
